body {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    color: #1a1a1a;
    font-size: 2em;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #1a1a1a;
    margin-top: 40px;
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
}